.elementor-widget-container .premium-global-badge- {
        {
        ID
    }
}

.premium-badge-container {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-container .premium-global-cursor- {
        {
        ID
    }
}

    {
    color: var( --e-global-color-primary);
    fill: var( --e-global-color-primary);
}

.elementor-widget-container.premium-cursor-ftext .premium-global-cursor- {
        {
        ID
    }
}

.premium-cursor-follow-text {
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-primary-font-weight);
}

.elementor-widget-container .premium-global-badge- {
        {
        ID
    }
}

.premium-badge-text {
    color: var( --e-global-color-secondary);
}

.elementor-widget-container .premium-global-badge- {
        {
        ID
    }
}

.premium-badge-icon {
    color: var( --e-global-color-secondary);
    fill: var( --e-global-color-secondary);
}

.elementor-271 .elementor-element.elementor-element-ab7bc2f {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --overflow: hidden;
    --background-transition: 0.3s;
}

.elementor-widget-heading .premium-global-badge- {
        {
        ID
    }
}

.premium-badge-container {
    background-color: var( --e-global-color-primary);
}

.pp-tooltip.pp-tooltip- {
        {
        ID
    }
}

.pp-tooltip-content {
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-weight: var( --e-global-typography-accent-font-weight);
}

.elementor-widget-heading .premium-global-cursor- {
        {
        ID
    }
}

    {
    color: var( --e-global-color-primary);
    fill: var( --e-global-color-primary);
}

.elementor-widget-heading.premium-cursor-ftext .premium-global-cursor- {
        {
        ID
    }
}

.premium-cursor-follow-text {
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-primary-font-weight);
}

.elementor-widget-heading .premium-global-badge- {
        {
        ID
    }
}

.premium-badge-text {
    color: var( --e-global-color-secondary);
}

.elementor-widget-heading .premium-global-badge- {
        {
        ID
    }
}

.premium-badge-icon {
    color: var( --e-global-color-secondary);
    fill: var( --e-global-color-secondary);
}

.elementor-widget-heading .elementor-heading-title {
    color: var( --e-global-color-primary);
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-primary-font-weight);
}

.elementor-271 .elementor-element.elementor-element-ba7e08a {
    text-align: center;
}

.elementor-271 .elementor-element.elementor-element-ba7e08a .elementor-heading-title {
    color: #FFFFFF;
    font-family: "KOMIKZ", Sans-serif;
    font-weight: 600;
}