.elementor-widget-container .premium-global-badge- {
        {
        ID
    }
}

.premium-badge-container {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-container .premium-global-cursor- {
        {
        ID
    }
}

    {
    color: var( --e-global-color-primary);
    fill: var( --e-global-color-primary);
}

.elementor-widget-container.premium-cursor-ftext .premium-global-cursor- {
        {
        ID
    }
}

.premium-cursor-follow-text {
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-primary-font-weight);
}

.elementor-widget-container .premium-global-badge- {
        {
        ID
    }
}

.premium-badge-text {
    color: var( --e-global-color-secondary);
}

.elementor-widget-container .premium-global-badge- {
        {
        ID
    }
}

.premium-badge-icon {
    color: var( --e-global-color-secondary);
    fill: var( --e-global-color-secondary);
}

.elementor-242 .elementor-element.elementor-element-a4c466d {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --padding-top: 20px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
    --z-index: 15;
}

.elementor-242 .elementor-element.elementor-element-a4c466d:not(.elementor-motion-effects-element-type-background),
.elementor-242 .elementor-element.elementor-element-a4c466d>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: transparent;
    background-image: linear-gradient(180deg, #000000DE 40%, #FC1ACB00 100%);
}

.elementor-242 .elementor-element.elementor-element-a4c466d,
.elementor-242 .elementor-element.elementor-element-a4c466d::before {
    --border-transition: 0.3s;
}

.elementor-242 .elementor-element.elementor-element-f7c52c6 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
}

.elementor-widget-nav-menu .premium-global-badge- {
        {
        ID
    }
}

.premium-badge-container {
    background-color: var( --e-global-color-primary);
}

.pp-tooltip.pp-tooltip- {
        {
        ID
    }
}

.pp-tooltip-content {
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-weight: var( --e-global-typography-accent-font-weight);
}

.elementor-widget-nav-menu .premium-global-cursor- {
        {
        ID
    }
}

    {
    color: var( --e-global-color-primary);
    fill: var( --e-global-color-primary);
}

.elementor-widget-nav-menu.premium-cursor-ftext .premium-global-cursor- {
        {
        ID
    }
}

.premium-cursor-follow-text {
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-primary-font-weight);
}

.elementor-widget-nav-menu .premium-global-badge- {
        {
        ID
    }
}

.premium-badge-text {
    color: var( --e-global-color-secondary);
}

.elementor-widget-nav-menu .premium-global-badge- {
        {
        ID
    }
}

.premium-badge-icon {
    color: var( --e-global-color-secondary);
    fill: var( --e-global-color-secondary);
}

.elementor-widget-nav-menu .elementor-nav-menu .elementor-item {
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-primary-font-weight);
}

.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item {
    color: var( --e-global-color-text);
    fill: var( --e-global-color-text);
}

.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item:hover,
.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item:focus {
    color: var( --e-global-color-accent);
    fill: var( --e-global-color-accent);
}

.elementor-widget-nav-menu .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
.elementor-widget-nav-menu .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after {
    background-color: var( --e-global-color-accent);
}

.elementor-widget-nav-menu .e--pointer-framed .elementor-item:before,
.elementor-widget-nav-menu .e--pointer-framed .elementor-item:after {
    border-color: var( --e-global-color-accent);
}

.elementor-widget-nav-menu {
    --e-nav-menu-divider-color: var( --e-global-color-text);
}

.elementor-widget-nav-menu .elementor-nav-menu--dropdown .elementor-item,
.elementor-widget-nav-menu .elementor-nav-menu--dropdown .elementor-sub-item {
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-weight: var( --e-global-typography-accent-font-weight);
}

.elementor-242 .elementor-element.elementor-element-600c606 .elementor-nav-menu .elementor-item {
    font-family: "KOMIKZ", Sans-serif;
    font-size: 38px;
    font-weight: 600;
}

.elementor-242 .elementor-element.elementor-element-600c606 .elementor-nav-menu--main .elementor-item {
    color: #FF0CCA;
    fill: #FF0CCA;
}

.elementor-242 .elementor-element.elementor-element-600c606 .elementor-nav-menu--main .elementor-item:hover,
.elementor-242 .elementor-element.elementor-element-600c606 .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-242 .elementor-element.elementor-element-600c606 .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-242 .elementor-element.elementor-element-600c606 .elementor-nav-menu--main .elementor-item:focus {
    color: #FFFFFF;
    fill: #FFFFFF;
}

.elementor-242 .elementor-element.elementor-element-600c606 .elementor-nav-menu--main .elementor-item.elementor-item-active {
    color: #FFFFFF;
}

.elementor-242 .elementor-element.elementor-element-600c606 .elementor-nav-menu--dropdown a,
.elementor-242 .elementor-element.elementor-element-600c606 .elementor-menu-toggle {
    color: #FFFFFF;
}

.elementor-242 .elementor-element.elementor-element-600c606 .elementor-nav-menu--dropdown {
    background-color: #000000;
}

.elementor-242 .elementor-element.elementor-element-600c606 .elementor-nav-menu--dropdown a:hover,
.elementor-242 .elementor-element.elementor-element-600c606 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-242 .elementor-element.elementor-element-600c606 .elementor-nav-menu--dropdown a.highlighted {
    background-color: #FFDF04DB;
}

.elementor-242 .elementor-element.elementor-element-600c606 .elementor-nav-menu--dropdown a.elementor-item-active {
    background-color: #FFDF04;
}

.elementor-242 .elementor-element.elementor-element-a4b7f26 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
}

.elementor-widget-social-icons .premium-global-badge- {
        {
        ID
    }
}

.premium-badge-container {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-social-icons .premium-global-cursor- {
        {
        ID
    }
}

    {
    color: var( --e-global-color-primary);
    fill: var( --e-global-color-primary);
}

.elementor-widget-social-icons.premium-cursor-ftext .premium-global-cursor- {
        {
        ID
    }
}

.premium-cursor-follow-text {
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-primary-font-weight);
}

.elementor-widget-social-icons .premium-global-badge- {
        {
        ID
    }
}

.premium-badge-text {
    color: var( --e-global-color-secondary);
}

.elementor-widget-social-icons .premium-global-badge- {
        {
        ID
    }
}

.premium-badge-icon {
    color: var( --e-global-color-secondary);
    fill: var( --e-global-color-secondary);
}

.elementor-242 .elementor-element.elementor-element-2285a5c {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 19px;
    --grid-column-gap: 21px;
    --grid-row-gap: 0px;
}

.elementor-242 .elementor-element.elementor-element-2285a5c .elementor-widget-container {
    text-align: center;
}

.elementor-242 .elementor-element.elementor-element-2285a5c .elementor-social-icon {
    background-color: #FFFFFF;
}

.elementor-242 .elementor-element.elementor-element-2285a5c .elementor-social-icon i {
    color: #020101;
}

.elementor-242 .elementor-element.elementor-element-2285a5c .elementor-social-icon svg {
    fill: #020101;
}

@media(min-width:768px) {
    .elementor-242 .elementor-element.elementor-element-a4b7f26 {
        --width: 100%;
    }
}

@media(max-width:767px) {
    .elementor-242 .elementor-element.elementor-element-a4c466d {
        --flex-direction: column;
        --container-widget-width: 100%;
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
        --flex-wrap-mobile: wrap;
        --justify-content: center;
    }
    .elementor-242 .elementor-element.elementor-element-f7c52c6 {
        --flex-direction: row;
        --container-widget-width: initial;
        --container-widget-height: 100%;
        --container-widget-flex-grow: 1;
        --container-widget-align-self: stretch;
        --flex-wrap-mobile: wrap;
    }
    .elementor-242 .elementor-element.elementor-element-600c606 .elementor-nav-menu .elementor-item {
        font-size: 32px;
    }
    .elementor-242 .elementor-element.elementor-element-a4b7f26 {
        --width: 100%;
        --justify-content: center;
    }
    .elementor-242 .elementor-element.elementor-element-2285a5c {
        --grid-template-columns: repeat(0, auto);
        --icon-size: 13px;
        --grid-column-gap: 8px;
    }
    .elementor-242 .elementor-element.elementor-element-2285a5c .elementor-widget-container {
        text-align: center;
    }
}

/* Start Custom Fonts CSS */

@font-face {
    font-family: 'KOMIKZ';
    font-style: normal;
    font-weight: normal;
    font-display: auto;
    src: url('https://duckycoineth.com/wp-content/uploads/2024/11/KOMIKZ-2.ttf') format('truetype');
}

/* End Custom Fonts CSS */